.phs1{height: 350px;width: 350px;flex-direction: row;transition-duration: 5s;}
.phs1:hover{transform: translate(600px) scale(1)}

.phs2{height: 350px;width: 350px;flex-direction: row;transition-duration: 5s;}
.phs2:hover{transform: translate(600px) scale(1)}

.phs3{height: 350px;width: 350px;flex-direction: row;transition-duration: 5s;}
.phs3:hover{transform: translate(600px) scale(1)}

.phs4{height: 350px;width: 350px;flex-direction: row;transition-duration: 5s;}
.phs4:hover{transform: translate(600px) scale(1)}

.phs5{height: 350px;width: 350px;flex-direction: row;transition-duration: 5s;}
.phs5:hover{transform: translate(600px) scale(1)}

.phs6{height: 350px;width: 350px;flex-direction: row;transition-duration: 5s;}
.phs6:hover{transform: translate(600px) scale(1)}

.phs7{height: 350px;width: 350px;flex-direction: row;transition-duration: 5s;}
.phs7:hover{transform: translate(600px) scale(1)}

.phs8{height: 350px;width: 350px;flex-direction: row;transition-duration: 5s;}
.phs8:hover{transform: translate(600px) scale(1)}

